[submodule "hg"]
	path = hg
	url = git://git.holonglobe.com/hologram.git
[submodule "app/htdocs/js/jquery.encapsulating"]
	path = app/htdocs/js/jquery.encapsulating
	url = git://github.com/marek-saji/jquery.encapsulating.git
[submodule "app/htdocs/js/ace"]
	path = app/htdocs/js/ace
	url = https://github.com/ajaxorg/ace.git
[submodule "app/htdocs/js/code-illuminated"]
	path = app/htdocs/js/code-illuminated
	url = https://github.com/justmoon/code-illuminated.git
