[submodule "hg"]
	path = hg
	url = https://github.com/HolonGlobe/HoloGram.git
	branch = nyo
[submodule "app/htdocs/js/jquery.encapsulating"]
	path = app/htdocs/js/jquery.encapsulating
	url = git://github.com/marek-saji/jquery.encapsulating.git
[submodule "app/htdocs/js/ace"]
	path = app/htdocs/js/ace
	url = https://github.com/ajaxorg/ace.git
[submodule "app/htdocs/js/code-illuminated"]
	path = app/htdocs/js/code-illuminated
	url = https://github.com/marek-saji/code-illuminated.git
[submodule "app/htdocs/css/box-sizing-polyfill"]
	path = app/htdocs/css/box-sizing-polyfill
	url = https://github.com/Schepp/box-sizing-polyfill.git
