@import "../less.less";

.paste.hentry
{
    hgroup
    {
        h2,
        h3
        {
            display: inline;
            margin: 0;
            padding: 0;
        }

        h2.entry-title
        {
            font-size: 2em;

            .version
            {
                font-size: .7em;
            }
        }

        h3
        {
            font-size: 1.2em;
        }

        .meta-toggler
        {
            font-size       : .7em;
            text-decoration : none;
            color           : #666;
            outline         : none;

            .text
            {
                padding-right : .25em;
            }

            @metatogglericonsize: 12px;

            .icon
            {
                background : url(../../gfx/more-less.png) no-repeat scroll 0 center transparent; /* 12x12px */
                padding    : @metatogglericonsize/2 @metatogglericonsize @metatogglericonsize/2 0;

            }
            &.collapser .icon
            {
                background-position : -1*@metatogglericonsize center;
            }
        }
    }

    #meta
    {
        font-size : .8em;
    }

    .actions.wrapper
    {
        overflow      : hidden;
        width         : 100%;

        .actions
        {
            float: left;
            font-size: .8em;
            margin: 0 0 .2em 0;

            &.basic
            {
                float: right;
            }

            &.share
            {
                clear: both;

                p
                {
                    display: none;
                }
            }

            ul
            {
                margin: 0;
                padding: 0;
            }

            .action
            {
                display : inline;
                padding : .25em
            }
        }

    }

    article.entry-content
    {
        border-color : #ddd;
        border-style : solid;
        border-width : thin 0;
    }

    section.tree
    {
        ol
        {
            list-style : none;
            padding    : 0;

            ol
            {
                padding-left : 2em;
            }

            time
            {
                font-size: .8em;
            }
        }
    }
}

.ajaj-msg
{
    position         : fixed;
    top              : 0;
    left             : 50%;
    width            : 30em;
    margin-left      : -15em;
    color            : white;
    background-color : black;
    background-color : rgba(0, 0, 0, 0.8);
    padding          : 1em;
    text-align       : center;
    border-color     : white;
    border-color     : rgba(255, 255, 255, 0.3);
    border-style     : solid;
    border-width     : 0 thin thin thin;
    .border-radius(0 0 1em 1em);
}

.share.actions .copy-to-clipboard.action input.copyable
{
    width: 30em;
}

#nyroModalContent
{
    .share.actions .action
    {
        display: block;
    }
}

body.js
{
    #meta
    {
        display : none; /* toggable with js */
    }
}


/* vim: set ft=css fdm=indent: */

