.paste.hentry
{
    hgroup
    {
        h2,
        h3
        {
            display: inline;
            margin: 0;
            padding: 0;
        }

        h2.entry-title
        {
            font-size: 2em;

            .version
            {
                font-size: .7em;
            }
        }

        h3
        {
            font-size: 1.2em;
        }
    }

    .actions.wrapper
    {
        overflow      : hidden;
        width         : 100%;

        .actions
        {
            float: left;
            font-size: .8em;
            margin: 0 0 .2em 0;

            &.basic
            {
                float: right;
            }

            &.share
            {
                clear: both;
            }

            ul
            {
                margin: 0;
                padding: 0;
            }

            .action
            {
                display: inline;
            }
        }

    }

    article.entry-content
    {
        border-color : #ddd;
        border-style : solid;
        border-width : thin 0;
    }
}

body.js .paste.hentry .actions.wrapper,
#nyroModalContent
{
    .share.actions
    {
        float: none;

        .action
        {
            display: block;

            &.copy-to-clipboard input.copyable
            {
                width: 30em;
            }
        }
    }
}

/* vim: set ft=css: */

