.paste.hentry
{
    hgroup
    {
        h2,
        h3
        {
            display: inline;
            margin: 0;
            padding: 0;
        }

        h2
        {
            font-size: 2em;
        }

        h3
        {
            font-size: 1.2em;
        }
    }

    .actions.wrapper
    {
        overflow: hidden;
        width: 100%;

        .actions
        {
            float: left;
            font-size: .8em;
            margin: 0 0 .2em 0;

            &.basic
            {
                float: right;
            }

            ul
            {
                margin: 0;
                padding: 0;
            }

            .action
            {
                display: inline;
            }
        }

    }
}

/* vim: set ft=css: */

