.holoform#content form
{
    .text.content.field textarea
    {
        min-height: 20em;
        max-height: 50em;
    }

    .radio-optiongroups
    {
        margin-bottom: 1em;
    }

    .less-important-options-toggler
    {
        color           : #777;
        text-decoration : none;
        outline         : none;
    }

    .less-important-options-toggler strong
    {
        font-family: monospace;
    }

    /* hide the ACE settings icon.
     * it does not have a classname itself, so.. */
    .ace_editor
    {
        div
        {
            display: none;
        }

        .ace_gutter,
        .ace_gutter div,
        .ace_scroller,
        .ace_scroller div,
        .ace_sb,
        .ace_sb div
        {
            display: block;
        }
    }

    .buttons
    {
        .store-settings
        {
            font-size : .6em;
        }
    }
}

/* vim: set ft=css: */

