@import "../less.less";

@pastesLeftMargin: 2.5em;
@boxBorder: thin solid #aaa;

section.boxes
{

    .Boxes.actions ul,
    .Boxes.actions ul li
    {
        list-style : none;
        margin     : 0;
        padding    : 0;
    }

    ul.boxes
    {
        list-style    : none;
        margin        : 0;
        padding       : 0;
        .column-width (20em);
        .column-gap   (1em);

        li.box
        {
            .break-inside(avoid);
            margin-bottom : 1em;

            fieldset
            {
                border  : @boxBorder;
                padding : 0;

                legend
                {
                    margin-left : @pastesLeftMargin;
                }

                .pastes
                {
                    padding : 0;
                    margin  : .5em @pastesLeftMargin/2 .5em @pastesLeftMargin;

                    li
                    {
                        margin     : 0 0 .5em 0;
                        min-height : 22px; /* user avatar */

                        strong.query-keyword
                        {
                            font-weight: normal;
                        }

                        time
                        {
                            font-size: 0.8em;
                        }
                    }
                }

                .actions
                {
                    text-align       : right;
                    list-style       : none;
                    font-size        : .8em;
                    padding          : .25em .5em;
                    border-top       : @boxBorder;
                    background-color : #fafafa;


                    li
                    {
                        display : inline;
                    }
                }
            }
        }
    }

    div.empty.boxes
    {
        text-align  : center;
        font-weight : bold;
        color       : #aaa;
    }

}

@media all and (monochrome)
{
    section.boxes div.empty.boxes
    {
        color : #666;
    }
}

/* vim: set ft=css fdm=indent: */

