@import "less.less";

@headerbg: #eee;

html,
body
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#top,
#infos,
#whole-content,
#foot
{
    clear: both;
}

#top,
#foot
{
    padding: 0 1em;
}

#top
{
    overflow: hidden;
    padding: 0 1em 2em;
    margin: 0;
    text-align: center;
    .bgGradient(bottom, white 0%, @headerbg 2em);

    h1,
    ul,
    li
    {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li
    {
        display: inline;
        white-space: nowrap;
    }

    #menu,
    .usernav
    {
        li a
        {
            margin: 0 0 0 1em;
        }
    }

    #head,
    #menu
    {
        a
        {
            text-decoration: none;
            color: #555;
        }

        .active a
        {
            color: black;
            border-bottom: #666 solid 0.155em;
        }
    }

    #head
    {
        margin      : 0 1em 0 0;
        line-height : 1em;

        h1
        {
            line-height : 1em;
            font-size   : 2.5em;
            font-weight : normal;
            font-family : 'Quattrocento', Times, 'Times New Roman', serif;
            position : relative;
            z-index: 0;

            .kern_ny
            {
                margin-left : -.2em;
                position    : relative;
                top         : -.01em;
                z-index     : -1;
            }
            .kern_yo
            {
                margin-left : -.3em;
            }

        }

        small
        {
            font-size   : .72em;
            font-weight : normal;
            color       : #777;
        }
    } /* #head */

    #menu
    {
        font-size: 1.2em;
        margin-top: .3em;
        line-height: 1.666em;
    }

    .search
    {
        margin-top: 1em;

        input.query
        {
            width: 10em;
        }
    }

}

#infos,
#whole-content
{
    margin: 0 1em;
}

#whole-content,
#nyroModalContent
{
    code.emoticon
    {
        .rotate(90deg);
        font-size: 1.1em;

        &.inverted
        {
            .rotate(270deg);
        }
    }

    .copier
    {
        background : url(../gfx/clipboard.png) no-repeat scroll left center transparent; /* 16x16px */
        padding    : 8px 0 8px 20px;
    }

    a.share.action
    {
        background : url(data:image/gif;base64,AAAA) no-repeat scroll left center transparent; /* 16x16px */
        padding: @actioniconsize/2 0 @actioniconsize/2 @actioniconsize*4/3;

        &.twitter  { background-image: url(../gfx/share-twitter.png); }
        &.identica { background-image: url(../gfx/share-identica.png); }
        &.facebook { background-image: url(../gfx/share-facebook.png); }
        &.mail     { background-image: url(../gfx/share-mail.png); }
        &.addthis  { background-image: url(../gfx/share-addthis.png); }
    }

    .user-content
    {
        overflow: hidden;
    }

    ul.tags,
    ul.tags li
    {
        list-style : none;
        margin     : 0;
        padding    : 0;
        display    : inline;
    }
}


/* overwrite some of nyro modal's styles */
div#nyroModalFull
{
    font-size: 1em;

    div#nyroModalWrapper
    {
        padding: 0 1em;
    }
}

.modal-wannabe
{
    width        : 50em;
    max-width    : 100%;
    margin       : 0 auto;
    // page will be over 100% wide with no box-sizing support
    box-sizing   : border-box;
    padding      : 0.5em 1em;
    border       : #ccc solid thin;
    border-width : 0 thin;
    .two-shadows(0.3em 0 0.3em #ccc, -0.3em 0 0.3em #ccc);
}


.nyopaste
{
    color: #555;

    i
    {
        opacity: 0.4;
    }
}

.avoid-br
{
    display: inline-block;
    page-break-inside: avoid;
}

// for opera
button
{
    white-space: normal;
}

// most probably will have language="text/html+yesscript"
script.yesscript
{
    display: inline;
}

div.error
{
    background-color: @colourError;
}
div.help
{
    background-color: @colourHelp;
}

.char-icon
{
    font-size: 1.1em;
}


body.js
{
    label.copyable .inside
    {
        display: none;
    }
}


.vcard a .photo
{
    vertical-align : middle;
    margin-right   : .33em;
}


#foot
{
    margin   : 2em 0 1em 0;
    overflow : hidden;

    p
    {
        font-size: .7em;
        padding: 0;
        margin: .5em 1em;
        color: #666;

        a
        {
            color: #333;
        }
    }

    .nyopaste
    {
        i
        {
            opacity: .8;
        }
    }
}


@media (min-width: 60em)
{
    #foot
    {
        section
        {
            width : 50%;
            float : left;

            &.copyright
            {
                text-align: right;
            }
        }
    }
}

/* 3 menu items */
@media (min-width: 36em)
{
    #top
    {
        text-align: right;

        .skip-to-content
        {
            text-align: center;
            width: 100%;
            background-color: transparent;
            font-size: .8em;

            a
            {
                color: #eee;

                &:hover,
                &:active,
                &:focus
                {
                    color: black;
                }
            }
        } /* .skip-to-content */

        .usernav
        {
            float: right;
        }

        #head,
        #menu
        {
            float: left;
        }

        .search
        {
            clear: right;
            float: right;

            input.query
            {
                .transition(width .2s ease-in);

                &.focus
                {
                    width: 20em;
                    .transition(width .2s ease-in);
                }
            }
        }

    } /* #top */
}


/* vim: set ft=css fdm=indent: */

