@formwidth: 50em;
@formwidthpr: 100% * 2/3;
@formtoasideratio: 1/2;

.border-radius (@radius: .5em)
{
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.field-box()
{
    position: static;
    top: auto;
    left: auto;
    margin: .25em 0;
    padding: .5em 1em;
    width: auto;
    max-width: 100%;
    .border-radius(.5em);
}

.holoform form
{
    width: @formwidth;
    max-width: @formwidthpr;

    .field_error,
    .help
    {
        /* non-js; js styles at the bottom */
        .field-box;
    }

    fieldset fieldset
    {
        padding: 0 1em 0 2em;
    }

    fieldset
    {
        border: none;
        margin: 0;
        padding: .5em 1em;

        &.verbose
        {
            border: #aaa solid thin;
            margin: 1em 0;
        }

        &.hidden
        {
            display: none;
        }

        &.buttons
        {
            font-size: 1.2em;

            input
            {
                font-size: 1em;
            }
        }

        legend
        {
            font-size: 1.1em;

            select
            { font-size: 1em; }
        }

        label,
        input,
        textarea,
        select,
        button
        {
            &.disabled
            {
                color: gray;
            }
        }

        .less-important-options-toggler
        {
            display: block;
            padding-left: 20px; /* images are 16x16px */
            min-height: 20px;
            margin-top: 1em;
            cursor: pointer;
            background: transparent url(../gfx/expand-collapse.png) scroll no-repeat -16px -16px;

            &.expander
            {
                background-position: -16px 0;
            }
            &.collapser
            {
                background-position: 0 -16px;
            }
        }
        legend + .less-important-options-toggler
        {
            margin-top: 0;
        }

        ul,
        ul li.field
        {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        ul + ul,
        ul + .less-important-options-toggler + ul
        {
            margin-top: 1em;
        }

        ul li.field
        {
            margin: 0 0 1em 0;
            position: relative;

            &:last-child
            {
                margin-bottom: 0;
            }

            input,
            select,
            textarea,
            .encapsulating-textarea
            {
                width: 97%;
                padding: .25em;
            }

            label
            {
                display: block;

                input,
                select,
                textarea,
                .encapsulating-textarea
                {
                    width: auto;
                }
            }

            /*
            .invalid
            {
                border-color: red;
            }
                */

            .field_error
            {
                display: block;
                background-color: #fbb;
                z-index: 10;
                list-style-position: inside;
                list-style-type: disc;
            }

            .help
            {
                background-color: #bfb;
                z-index: 20;

                p
                {
                    margin: 0;
                    font-size: .8em;
                }
                p + p
                {
                    margin-top: .5em;
                }
            }

            .description
            {
                font-size : .8em;
                color     : #666;

                &.advice
                {
                    background-color: #ffb;
                    padding: .5em 1em;
                    .border-radius();
                }

                p
                {
                    margin: .75em 0;
                }
            }
        } /* ul li.field */

    } /* fieldset */

} /* .holoform form */

body.js .holoform form
{
    .field_error,
    .help
    {
        position: absolute;
        top: 0;
        left: 100%;
        margin: 0 0 0 2.5em;
        padding: 1em;
        width: @formwidth * @formtoasideratio;
        max-width: 100% * @formtoasideratio - 10;
        z-index: 30;
        border: white solid thin;
        .border-radius(.5em);
    }

    fieldset fieldset
    {
        padding: 0 1em;
    }

    fieldset ul
    {
        &.less-important-options
        {
            display: none;
        }

        li.field
        {
            .help { display: none; }

            &.focus
            {
                .field_error,
                .help
                {
                    z-index: 50;
                }
            }

            &.recently-focused
            {
                .help        { display: block; }
                .field_error { display: none; }

                &.invalid
                {
                    .help        { display: none; }
                    .field_error { display: block; }
                }
            }
        }
    }

}

/* outside of form for demoing purposes */
.required
{
    .inside
    {
        padding: 7px 14px 7px 0; /* image is 12x12px */
        background: transparent url(../gfx/asterisk.png) scroll no-repeat right center;
    }
    small.required
    {
        display: none;
    }
}
.sign-in.holoform .required
{
    display: none;
}

@media speech, aural
{
    .required small.required
    {
        display: inline;
    }
}


@media (max-width: 50em)
{
    body.js .holoform form,
    .holoform form
    {
        width: 100%;
        max-width: 100%;

        .field_error,
        .help
        {
            .field-box;
        }
    }

}

/* vim: set ft=css: */

