.profile h2{font-size:1.5em;text-align:center;}
.profile.group .fn{color:#888;}.profile.group .fn em{font-style:normal;color:black;}
.profile .avatar{text-align:center;}.profile .avatar object,.profile .avatar img{max-width:100%;display:block;margin:0 auto;}
.profile .meta .actions{font-size:.8em;}
.profile .meta .actions ul,.profile .meta .actions ul li,.profile .meta dl dd{list-style:none;margin-left:0;padding-left:0;}
.profile .meta dt{margin-top:1em;font-weight:bold;}.profile .meta dt.assumed{display:none;}
@media all and (min-width:40em){#whole-content h2{text-align:left;}#whole-content h2 .avatar{width:10em;margin:0 0.6666666666666666em 0 0;} #whole-content .avatar,#whole-content .meta{clear:left;float:left;display:block;overflow:hidden;} #whole-content .meta{width:15em;margin:0 1em 0 0;} #whole-content .boxes_wrapper{margin-left:16em;}}
