body.Paste
{
    article#content
    {
        pre.line_no
        {
            *
            {
                /* just making sure */
                font-size: 1em;
                font-family: monospace;
                line-height: 1.3em;
            }

            .numbers
            {
                float: left;
                margin-right: 1em;

                a
                {
                    color: inherit;
                    text-decoration: none;

                    &:hover,
                    &:active,
                    &:focus
                    {
                        text-decoration: underline;
                    }
                }
            }

            code.line
            {
                &::target
                {
                    background-color: yellow;
                }
            }
        }
    }
}

/* vim: set ft=css: */

