/* vim: set ft=css: */
#whole-content h2 {
  font-size: 1em;
}
#whole-content .avatar, #whole-content .paster-meta {
  clear: left;
  float: left;
  display: block;
  width: 15em;
  overflow: hidden;
}
#whole-content .avatar {
  text-align: center;
}
#whole-content .avatar img {
  max-width: 100%;
}
#whole-content .paster-meta .actions {
  font-size: .8em;
}
#whole-content .paster-meta .actions ul, #whole-content .paster-meta .actions ul li, #whole-content .paster-meta dl dd {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#whole-content .paster-meta dt.website, #whole-content .paster-meta dt.about_me {
  display: none;
}
section.boxes {
  margin-left: 15em;
}
section.boxes ul.boxes {
  list-style: none;
  margin: 0;
  padding: 0;
  column-width: 20em;
  -moz-column-width: 20em;
  -webkit-column-width: 20em;
  column-gap: 1em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
}
section.boxes ul.boxes li.box {
  column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
}
section.boxes ul.boxes li.box .actions {
  text-align: right;
  list-style: none;
}
section.boxes ul.boxes li.box .actions li {
  display: inline;
}
/* vim: set ft=css: */
