<?xml version='1.0' standalone='yes'?>
<acl>
    <!--
      GROUPS in nyopaste:
      unauthorized
      authorized
      mods
      admins
    -->

    <ctrl url="Main">
        <group>*</group>
    </ctrl>

    <ctrl url="User">
        <action name="default">
            <group>*</group>
        </action>
        <action name="login">
            <group>unauthorized</group>
        </action>
        <action name="logout">
            <group>authorized</group>
        </action>
        <action name="new">
            <group>*</group>
        </action>
        <action name="edit">
            <group>admins</group>
        </action>
        <action name="lostPasswd">
            <group>unauthorized</group>
        </action>
        <action name="remove">
            <group>admins</group>
        </action>
        <action name="restore">
            <group>admins</group>
        </action>
    </ctrl>

    <ctrl url="Paste">
        <action name="default">
            <group>*</group>
        </action>
        <action name="new">
            <group>*</group>
        </action>
    </ctrl>

</acl>

